:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variable custom*/
  --vt-c-custom-dark-1: #222538;
  --vt-c-custome-text-1: #81aaff;
  --vt-c-custome-text-2: #e27e7f;

}

#app {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 905) {
#app {
  padding: 20px;
} 
}